footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: bisque;
}

footer a {
    font-size: 100%;
    color: rgb(40, 11, 105);
    background-color: bisque;
}

footer ul{
    color:rgb(255, 153, 29);
}